################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/visual-studio-dev/escape-to-eclipse/.vs/escape-to-eclipse
/.vs/st5-escape-to-eclipse
