/visual-studio-dev/escape-to-eclipse/.vs/escape-to-eclipse
/.vs/st5-escape-to-eclipse

/visual-studio-dev/escape-to-eclipse/escape-to-eclipse/externals/SFML-2.6.2

/visual-studio-dev/escape-to-eclipse/x64/Debug/*.dll
/.vs
/bin/Debug-windows-x86_64/cpp_sfml-template/cpp_sfml-template.exe
/bin/Debug-windows-x86_64/cpp_sfml-template/cpp_sfml-template.pdb
